body{
	background-color: red;
	/*Main background color*/
}
@media (max-width: 320px) {
	body { background-color: green; }
	/*iPhone 5 Optimization*/

	}
		@media (min-width: 321px) and (max-width: 1024px) {
			body { background-color: aqua; }
			/*iPad 3/4 Optimization*/
		}
	}